.appbar {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.header img {
  display: block;
}

.block {
  display: flex;
  align-items: center;
}

.name {
  border-bottom: 1px dashed #000000;
  line-height: 24px;
  margin-right: 12px;
  max-width: 300px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  vertical-align: middle;

  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  width: 100%;
}

.progress {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: -4px;
}

/* 
^[ ]*?([a-z]*)([A-Za-z]*):.*?\"(.*)\"(,)
\1-\2: \3; 
*/
