.button {
  margin: 35px 0;
  height: 36px;
  padding: 0 45px;
  background: #ff3636;
  box-shadow: 0px 4px 18px rgba(255, 54, 54, 0.35),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  border: none;
  outline: none;
  color: #fff;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  text-align: center;
  cursor: pointer;
}
