.up {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
}

.titlebox {
  display: flex;
  align-items: center;
}

.titlebox img {
  width: 22px;
  height: 22px;
  display: block;
  cursor: pointer;
}

.title {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.extra {
  position: relative;
  margin-left: 10px;
}

.filters {
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
}

.popover {
  visibility: hidden;
  position: absolute;
  top: 22px;
  right: 0;
  z-index: 10;
  padding: 20px;
  margin-top: 15px;

  white-space: nowrap;
  text-align-last: left;

  background: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #0d0c0b;

  cursor: default;
}

.popover div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.popover::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  right: 5px;
  top: -6px;
  z-index: 1;
  transform: rotate(45deg);
  border: 1px solid #cfcfcf;
  border-width: 1px 0 0 1px;
  background: #ffffff;
}

.popover div:nth-child(2),
div:nth-child(3) {
  margin-top: 16px;
}

.popover img {
  display: inline;
  margin-right: 10px;
}
