.link {
  cursor: pointer;
}

.qna {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.qna img {
  display: inline-block;
  max-width: 250px;
  max-height: 150px;
  vertical-align: middle;
  margin: 0 auto;
}

.radio div {
  margin-top: 12px;
}
.radio label {
  display: block;
  margin-top: 12px;
  width: fit-content;
  cursor: pointer;
}

.radio span {
  padding-left: 12px;
}

.radio input {
  width: auto;
}

.button {
  margin-top: 42px;
}
